.main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main section#main-background {
    background-image: url("../img/home/main-background/main-background_desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 35px;
    width: 100%;
    height: 85vh;

    border-top: 2px solid rgba(0, 0, 0, 0.141);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.296) inset;
}

.main section#main-apresentation {
    width: 55%;
    height: 100%;
    /* background-color: rgba(0, 0, 255, 0.376); */
}

.main section#main-apresentation div#heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    padding: 5px;
    /* background-color: red; */
}

.main section#main-apresentation div#heading-mobile {
    display: none;
}

.main section#main-apresentation div#heading h1 {
    font: 3.2rem var(--title-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    cursor: pointer;
}

.main section#main-apresentation div#heading > div {
    width: 100%;
    height: 100%;
    display: flex;
}

.main section#main-apresentation div#heading > div > h1 {
    color: var(--color1);
    position: relative;
    top: -23px;
}

.main section#main-apresentation div#heading div > div#lines {
    width: 23vw;
    height: 43px;
    margin-left: 10px;
    position: relative;
    top: -5px;

    display: flex;
    flex-direction: column;
}

.main section#main-apresentation div#heading div > div#lines > 
div {
    width: 100%;
    height: 10px;
    margin: 3px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.383);
}

.main section#main-apresentation div#heading div > div#lines > div#line1 {
    background-color: var(--color4);
    width: 78%;
}

.main section#main-apresentation div#heading div > div#lines > div#line2 {
    background-color: var(--color1);
    width: 88%;
}

.main section#main-apresentation div#heading div > div#lines > div#line3 {
    background-color: var(--color2);
}

.main section#main-apresentation div#phrase-box {
    width: 100%;
    height: 18vh;
    padding: 20px 10px;
    margin: 20px 0px;
    /* background-color: coral; */
}

.main section#main-apresentation div#phrase-box p {
    color: white;
    font-family: var(--citation-font);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main section#main-apresentation div#phrase-box p#phrase {
    font-size: 0.9rem;
    font-weight: 500;

    text-decoration: underline;
    text-decoration-color: transparent;
    transition: .5s;

    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

.main section#main-apresentation div#phrase-box p#phrase:hover {
    text-decoration-color: white;
    cursor: pointer;
}

.main section#main-apresentation div#phrase-box p#author {
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
}

.main section#main-apresentation div#explore-box {
    width: 100%;
    height: 20vh;
    /* background-color: chartreuse; */

    display: flex;
    align-items: center;
}

.main section#main-apresentation div#explore-box div#explore-button {
    width: 40%;
    height: 50%;
    border-radius: 15px;
    background-color: var(--color5);
    border: 1px solid rgba(255, 255, 255, 0.275);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main section#main-apresentation div#explore-box div#explore-button:hover {
    background-color: #1e2330;
    transform: scale(103%);
    transition: transform .3s;
}

.main section#main-apresentation div#explore-box div#explore-button p, i {
    color: white;
    cursor: pointer;
}

.main section#main-apresentation div#explore-box div#explore-button p {
    font: 1.4rem var(--title-font);
    font-weight: 600;
}

.main section#main-apresentation div#explore-box div#explore-button i {
    font-size: 1.7rem;
}

.main section#main-apresentation div#phrase-box p {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.535);
}

.main section#main-apresentation div#explore div#explore-button {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.622);
}

.main section#main-apresentation div#heading h1 {
    text-shadow: 0px 0px 30px black;
}



.main section#main-slider {
    width: 92vw;
    height: 100vh;
    background-color: var(--color5);
    transform: translateY(-30px);
    border-radius: 10px;
    box-shadow: 0px 34px 33px 3px rgba(0,0,0,0.14);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.main section#main-slider div#image-output {
    width: 95%;
    height: 85%; 
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.main section#main-slider div#image-output ul {
    position: relative;
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s ease-in-out;
    left: 0;
}

.main section#main-slider div#image-output ul > li {
    position: relative;
    height: 100%;
    float: left;
}

.main section#main-slider div#image-output ul > li img {
    height: 100%;
}

.main section#main-slider div#indices {
    width: 100%;
    height: 5%;
    /* background-color: red; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.main section#main-slider div#indices > div.index {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--default-index-color);
    cursor: pointer;
}

.main section#main-slider div#indices > div.active {
    border: 2px solid var(--activated-index-color);
    background-color: var(--activated-index-color);
    transition: all .9s;
}



.main section#project-info {
    width: 92vw;
    padding: 10px;
    margin-top: 50px;
    /* background-color: blue; */
}

.main section#project-info h1 {
    font: 2rem var(--title-font);
    margin: 18px 0px;
    letter-spacing: 3px;
    font-weight: 700;
}

.main section#project-info p {
    font: 1.2rem var(--text-font);
    letter-spacing: 2px;
    margin: 0px 22px;
    text-align: justify;
    text-indent: 30px;
}

.main div#division-line {
    background-color: var(--color5);
    margin-top: 40px;
    width: 100%;
    height: 50px;
}

.main section#ete-slider-box {
    width: 100%;
    margin-top: 60px;
    background-color: var(--color5);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.089);
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main section#ete-slider-box h1 {
    font: 2rem var(--title-font);
    font-weight: 700;
    color: white;
    letter-spacing: 3px;
}

.main section#ete-slider-box div#color-output-line {
    background-color: rgb(151, 212, 105);
    transition: all 2s;
    border-radius: 10px;
    margin-top: 10px;
    width: 40%;
    height: 5px;
}

.main section#ete-slider-box div#slide-group {
    width: 90vw;
    height: 75vh;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main section#ete-slider-box div#ete-slider {
    margin-top: 50px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 2px -10px 20px rgba(0, 0, 0, 0.322);
    width: 80%;
    height: 100%;

    min-height: 30em;
    position: relative;
    background-image: url("../img/home/etepimr-slider/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main section#ete-slider-box div#ete-slider > div#inner-shadow {
    background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
    width: 100%;
    height: 150px;
}

.main section#ete-slider-box div#slide-group div.arrow {
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.172);
    background-color: #101018;
    border-radius: 50%;
    cursor: pointer;
    width: 70px;
    height: 70px;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.main section#ete-slider-box div#slide-group div.arrow:hover {
    background-color: #11141c;
    transform: scale(1.2);
    transition: all .5s;
}

.main section#ete-slider-box div#slide-group div.arrow > i {
    font-size: 2.5rem;
}

.main section#ete-slider-box p#index-output {
    font: 0.9rem var(--materials-name-font);
    font-weight: 500;
    margin-top: 3rem;
    color: white;

    display: block;
    padding: 10px 10rem;
    border-radius: 10px;
    background-color: #12151d;
}

.main section#ete-slider-box p#share-pictures-with-us {
    /* align-self: flex-start; */
    font: 0.9rem var(--text-font);
    color: white;
    letter-spacing: 4px;
    margin-top: 50px;
    padding: 20px;
    background-color: #12151d;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.main section#ete-slider-box p#share-pictures-with-us > i {
    margin-right: 12px;
    font-size: 1.6rem;
    color: rgb(207, 109, 74);
}

.main section#ete-slider-box p#share-pictures-with-us > a {
    font-weight: 500;
    margin-left: 5px;
    text-decoration: none;
    color: var(--link-color);
}

.main section#ete-slider-box p#share-pictures-with-us > a:hover {
    text-decoration: underline;
}

.main section#ete-slider-box div.image-fade {
    animation: imageFade 3s ease;
}

@keyframes imageFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 950px) {
    .main section#main-background {
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-top: 100px;
    }

    .main section#main-apresentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        width: 100%;
        height: 100%;
    }

    .main section#main-apresentation div#heading {
        display: none;
    }

    .main section#main-apresentation div#heading-mobile {
        /* background-color: cyan; */
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main section#main-apresentation div#heading-mobile h1 {
        font: 2.5rem var(--title-font);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: white;
        cursor: pointer;
    }

    .main section#main-apresentation div#heading-mobile > div#l2 {
        /* background-color: antiquewhite; */
        width: 80%;
        height: 50px;

        display: flex;
        justify-content: center;
    }

    .main section#main-apresentation div#heading-mobile > div#l2 > h1 {
        color: var(--color1);
        margin: 0px 5px;
        transform: translateY(-22px);
    }

    .main section#main-apresentation div#heading-mobile div.line-box {
        /* background-color: darkorchid; */
        width: 30%;
        height: 40%;

        display: flex;
        align-items: flex-end;
    }

    .main section#main-apresentation div#heading-mobile div.line-box div.line {
        /* background-color: mediumseagreen; */
        border-radius: 10px;
        width: 100%;
        height: 7px;
    }

    .main section#main-apresentation div#heading-mobile div#extern-line {
        background-color: var(--color3);
        border-radius: 10px;
        width: 48%;
        height: 7px;

        transform: translateY(-14px);
    }

    .main section#main-apresentation div#heading-mobile div#line1 {
        background-color: var(--color2);
        transform: translateX(-6px);
    }

    .main section#main-apresentation div#heading-mobile div#line2 {
        background-color: var(--color1);
    }

    .main section#main-apresentation div#phrase-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main section#main-apresentation div#phrase-box p#phrase {
        text-align: center;
        font-size: 0.85rem;
    }

    .main section#main-apresentation div#phrase-box p#author {
        margin: 10px 0px 0px 0px;
    }

    .main section#main-apresentation div#explore-box {
        width: 100%;
        margin-bottom: 1.5rem;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main section#main-apresentation div#explore-box div#explore-button {
        width: 220px;
        height: 55px;
    }

    .main section#main-apresentation div#explore-box div#explore-button p {
        font-size: 1.35rem;
    }

    .main section#main-apresentation div#explore-box div#explore-button i {
        font-size: 1.5rem;
    }

    .main section#main-slider {
        width: 92vw;
        height: 50vh;
    }

    @media screen and (max-width: 450px), screen and (min-height: 750px), 
    screen and (max-width: 350px) {

        @media screen and (max-width: 450px) {
            .main section#main-apresentation div#heading-mobile h1 {
                font-size: 2.2rem;
            }

            .main section#main-apresentation div#heading-mobile div.line-box {
                width: 100%;
            }

            .main section#main-apresentation div#heading-mobile > div#l2 {
                width: 88%;
            }

            .main section#main-apresentation div#heading-mobile div#extern-line {
                transform: translateY(-17px);
            }

            .main section#main-apresentation div#heading-mobile > div#l2 > h1 {
                transform: translateY(-18px);
            }

            .main section#main-apresentation div#phrase-box p#phrase {
                font-size: 0.7rem;
                padding: 0px 10px;
            }

            .main section#main-apresentation div#phrase-box p#author {
                font-size: 0.7rem;
            }

            .main section#main-apresentation div#explore-box div#explore-button {
                width: 170px;
                height: 50px;
            }

            .main section#main-apresentation div#heading-mobile div.line-box div.line {
                height: 5px;
            }

            .main section#main-apresentation div#heading-mobile div#extern-line {
                height: 5px;
            }

            .main section#main-apresentation div#explore-box div#explore-button p {
                font-size: 1.3rem;
            }
        }

        @media screen and (max-width: 350px) {
            .main section#main-apresentation div#heading-mobile h1 {
                font-size: 1.8rem;
            }

            .main section#main-apresentation div#heading-mobile > div#l2 > h1 {
                transform: translateY(-14px);
            }

            .main section#main-apresentation div#heading-mobile div#extern-line {
                transform: translateY(-22px);
                width: 52%;
            }
        }

        @media screen and (min-height: 750px) {
            .main section#main-background {
                height: 70vh;
            }

            .main section#main-apresentation div#explore-box div#explore-button {
                height: 55px;
                margin-bottom: 20px;
            }

            .main section#main-apresentation div#heading-mobile div.line-box div.line {
                height: 5px;
            }

            .main section#main-apresentation div#heading-mobile div#extern-line {
                height: 5px;
            }
        }
    }

    @media screen and (max-width: 850px) and (orientation: landscape) {
        .main section#main-apresentation div#explore-box {
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    @media screen and (min-height: 850px) {
        .main section#main-background {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main section#main-background {
            height: max-content;
        }
    }
}

@media screen and (min-height: 767px) {
    .main section#main-background {
        height: 55vh;
        display: flex;
        align-items: center;
    }

    .main section#main-apresentation {
        margin-bottom: 120px;
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main section#main-apresentation div#explore-box div#explore-button {
        width: 220px;
        height: 65px;
    }

    .main section#main-apresentation div#phrase-box {
        height: max-content;
        margin: 5px 0px;
    }
}
