.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main section#main-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 2px solid rgba(0, 0, 0, 0.141);
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.159) inset;
}

.main section#main-background.math {
    background-image: url("../img/materials/materials-lv2/main-background/math-background.jpg");
}

.main section#main-background.physics {
    background-image: url("../img/materials/materials-lv2/main-background/physics-background.jpg");
}

.main section#main-background.chemistry {
    background-image: url("../img/materials/materials-lv2/main-background/chemistry-background.jpg");
}

.main section#main-background h1 {
    font: 2.5rem var(--title-font);
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

.main section#main-background div#line {
    border-radius: 10px;
    width: 30%;
    height: 6px;
}

.main section#main-background div#line.first-year {
    background-color: var(--first-year);
}

.main section#main-background div#line.second-year {
    background-color: var(--second-year);
}

.main section#main-background div#line.third-year {
    background-color: var(--third-year);
}

.main section#help-section {
    background-color: var(--color5);
    border-radius: 10px;
    transform: translateY(-70px);
    border: 1px solid #ededed50;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.205);
    margin-bottom: 5rem;
    padding: 40px 20px;
    width: 85vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main section#help-section div.content-type {
    background-color: #12151c;
    width: 100%;
    height: 70px;

    display: flex;
    gap: 20px;
}

.main section#help-section div.content-type div.content-type-color {
    background-color: red;
    border-radius: 10px;
    width: 250px;
    height: 100%;
}

.main section#help-section div.content-type div.content-name {
   width: 100%;
   height: 100%;
   margin-right: 20px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.main section#help-section div.content-type div.content-type-color#homework {
    background-color: var(--homework);
}
.main section#help-section div.content-type div.content-type-color#review {
    background-color: var(--review);
}

.main section#help-section div.content-type div.content-type-color#supporting-materials {
    background-color: var(--supporting-materials);
} 

.main section#help-section div.content-type div.content-type-color.other {
    background-color: var(--other);
}

.main section#help-section div.content-type div.content-name > p {
    font: 1.3rem var(--secondary-font);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

.main > h1 {
    font: 2.5rem var(--title-font);
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color5);
    font-weight: 700;
}

.main > div.content-block {
    background-color: #131720;
    margin-bottom: 10rem;
    border-radius: 10px;
    padding: 15px;
    width: 70vw;
    height: 80vh;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.157);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main > div.content-block div.content {
    background-color: #0b0b10;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.main > div.content-block div.content:hover {
    transform: translateY(-3px);
    transition: all .5s;
}

.main > div.content-block div.content div.content-type-icon-background {
    background-color: #000000;
    border-radius: 10px;
    width: 80px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main > div.content-block div.content div.content-type-icon-background > img {
    width: 40px;
    height: 40px;
}

.main div.content-block div.content div.content-name {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
}

.main > div.content-block div.content div.content-name > p {
    font: 1.1rem var(--materials-name-font);
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.87);
}

.main > div.content-block div.content div.content-name > p:hover {
    border-bottom: 1px solid rgb(212, 212, 212);
}

.main > div.content-block div.content > div.download-and-content-color {
    width: 100px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.main > div.content-block div.content > div.download-and-content-color > div.content-type-color {
    border-radius: 10px;
    width: 50px;
    height: 100%;
}

.main > div.content-block div.content > 
div.download-and-content-color > div.content-type-color#review {
    background-color: var(--review);
}

.main > div.content-block div.content > 
div.download-and-content-color > div.content-type-color#supporting-materials {
    background-color: var(--supporting-materials);
}

.main > div.content-block div.content > 
div.download-and-content-color > div.content-type-color#homework {
    background-color: var(--homework);
}

.main > div.content-block div.content > 
div.download-and-content-color > div.content-type-color#other {
    background-color: var(--other);
}

.main > div.content-block div.content > div.download-and-content-color div.download-background {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
    border: 2px solid rgba(227, 226, 226, 0.171);
    background-color: #13131d;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    height: 70%;

    display: flex;
    align-items: center;
    justify-items: center;
}

.main > div.content-block div.content > 
div.download-and-content-color div.download-background:hover {
    background-color: #191925;
    transition: all .5s;
}

.main > div.content-block div.content > 
div.download-and-content-color div.download-background > i {
    font-size: 1.5rem;
    color: rgb(227, 226, 226);
}

.main > div.content-block div.loading {
    animation: infiniteLoading 2s infinite ease;
    border: 10px solid rgba(255, 255, 255, 0.878);
    border-top-color: var(--color3);
    border-radius: 50%;
    margin: 5rem 0px;
    width: 100px;
    height: 100px;
}

@keyframes infiniteLoading {
    to {
        transform: rotate(1turn);
    }
}

.main > div.content-block div.empty-unit {
    background-color: var(--color5);
    border-radius: 10px;
    width: 95%;
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main > div.content-block div.empty-unit p {
    font: 1.2rem var(--materials-name-font);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.941);
}

.main > div.content-block div.empty-unit i {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.644);
}

.main > div#http-error {
    background-color: rgb(248, 132, 132);
    border: 3px solid rgba(224, 56, 56, 0.719);
    border-radius: 10px;
    margin: 3rem 0px;
    width: 60%;
    height: 90px;

    display: none;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.main > div#http-error p {
    font: 1.2rem var(--secondary-font);
    font-weight: 500;
    color: var(--color5);
}

.main > div#http-error i {
    font-size: 2rem;
    color: var(--color5);
}

@media screen and (max-width: 1050px) {
    .main section#main-background div#line {
        width: 40%;
    }

    .main section#help-section {
        width: 97vw;
    }

    .main > div#http-error {
        width: 80%;
    }

    @media screen and (max-width: 950px) {
        .main > div.content-block {
            width: 100%;
            border-radius: 0px;
        }
    }

    @media screen and (max-width: 850px) {
        .main section#main-background div#line {
            width: 55%;
        }

        .main section#help-section div.content-type {
            height: 65px;
        }
        
        .main section#help-section div.content-type div.content-type-color {
            width: 220px;
        }

        .main section#help-section div.content-type div.content-name > p {
            font-size: 1.1rem;
        }

        .main > div#http-error {
            width: 100%;
            border-radius: 0px;
            flex-direction: column;
            height: 120px;
        }

        .main > div#http-error p {
            font-size: 1rem;
            text-align: center;
        }
    }

    @media screen and (max-width: 750px) {
        .main section#main-background h1 {
            font-size: 2.3rem;
        }

        .main section#help-section div.content-type {
            height: 65px;
        }
        
        .main section#help-section div.content-type div.content-type-color {
            width: 180px;
        }

        .main section#help-section div.content-type div.content-name > p {
            font-size: 1rem;
            text-align: center;
        }

        .main > div.content-block div.content div.content-name > p {
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 600px) {
        .main section#main-background div#line {
            width: 60%;
        }

        .main > div.content-block div.content div.content-name {
            font-size: 0.8rem;
        }

        .main > div.content-block div.content div.content-type-icon-background > img {
            width: 30px;
            height: 30px;
        }

        .main > div.content-block div.content div.content-name > p {
            font-size: 0.9rem;
        }

        .main > div.content-block div.content > div.download-and-content-color > div.content-type-color {
            width: 25px;
        }

        .main > div.content-block div.content > div.download-and-content-color div.download-background {
            height: 60%;
        }

        .main > div.content-block div.content > div.download-and-content-color div.download-background > i {
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 500px) {
        .main section#main-background h1 {
            font-size: 1.8rem;
        }

        .main section#main-background div#line {
            width: 75%;
            height: 4px;
        }

        .main section#help-section div.content-type {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0px;
            height: 75px;
        }
        
        .main section#help-section div.content-type div.content-type-color {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            width: 100%;
            height: 9px;
        }

        .main section#help-section div.content-type div.content-name {
            margin: 0px;
        }

        .main section#help-section div.content-type div.content-name > p {
            font-size: 0.9rem;
        }

        .main > div.content-block div.content div.content-name > p {
            font-size: 0.7rem;
        }

        .main > div.content-block div.content div.content-type-icon-background > img {
            width: 30px;
            height: 30px;
        }

        .main > div.content-block div.content > div.download-and-content-color > div.content-type-color {
            width: 25px;
        }

        .main > div.content-block div.content > div.download-and-content-color div.download-background {
            height: 60%;
        }

        .main > div.content-block div.content > div.download-and-content-color div.download-background > i {
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 400px) {
        .main section#main-background h1 {
            font-size: 1.6rem;
        }

        .main section#main-background div#line {
            width: 80%;
        }

        .main > div.content-block div.content div.content-name > p {
            font-size: 0.6rem;
        }

        .main > div.content-block div.content > div.download-and-content-color > div.content-type-color {
            width: 15px;
        }

        .main > div.content-block div.content div.content-type-icon-background > img {
            width: 25px;
            height: 25px;
        }

        @media screen and (max-width: 350px) {
            .main section#main-background h1 {
                font-size: 1.44rem;
            }

            .main > div.content-block div.content div.content-name > p {
                font-size: 0.4rem;
                text-align: center;
            }
        }
    }
}
