.main {
    width: 95vw;
    height: 75vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main > h1 {
    font: 3rem var(--title-font);
    font-weight: 800;
    color: var(--color5);
}
