<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematicando - Início</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    
    <script src="{{ url_for('static', filename='js/home/main-slider.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/home/smooth-scroll.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/home/etepimr-slider.js') }}" defer></script>
</head>
<body>
    <header class="header">
        <div id="header-left">
            <a href="{{ url_for('Homepage.home') }}">
                <img src="{{ url_for('static', filename='img/favicon.ico') }}" alt="Matematicando Logo">
            </a>
            <h1>Matematicando</h1>
        </div>

        <nav>
            <ul id="navlist">
                <li class="active">
                    <i class="ri-home-4-line" onclick="redirectTo('/')"></i>
                    <a href="{{ url_for('Homepage.home') }}">Home</a>
                </li>
                <li>
                    <i class="ri-book-2-line" onclick="redirectTo('/materiais')"></i>
                    <a href="{{ url_for('Materials.materials') }}">Materiais</a>
                </li>
                <li>
                    <i class="ri-tools-fill" onclick="redirectTo('/ferramentas')"></i>
                    <a href="{{ url_for('Tools.tools') }}">Ferramentas</a>
                </li>
                <li>
                    <i class="ri-mail-line" onclick="redirectTo('/contatos')"></i>
                    <a href="{{ url_for('Contacts.contacts') }}">Contatos</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section id="main-background">
            <section id="main-apresentation">
                <div id="heading">
                    <h1>Matematicando</h1>
                    <div>
                        <h1>ETEPIMR</h1>
                        <div id="lines">
                            <div id="line1"></div>
                            <div id="line2"></div>
                            <div id="line3"></div>
                        </div>
                    </div>
                </div>

                <div id="phrase-box">
                    <p id="phrase">“O conhecimento é como um jardim. se não for cultivado, não 
                        poderá ser colhido.”
                    </p>
                    <p id="author">̶ African Proverbs</p>
                </div>

                <div id="explore-box">
                    <div id="explore-button">
                        <p>Explorar</p>
                        <i class="ri-arrow-right-line"></i>
                    </div>
                </div>
            </section>
        </section>

        <section id="main-slider">
            <div id="image-output">
                <ul id="slide-wrap">
                </ul>
            </div>
            
            <div id="indices">
                {% for _ in range(number_of_indices) %}
                    <div class="index"></div>
                {% endfor %}
            </div>
        </section>

        <section id="project-info">
            <h1>O que é este site?</h1>
            <p>Este website busca integrar e facilitar a distribuição de conteúdos diversos dentro da ETEPIMR (ETE
            Pastor Isaac Martins Rodrigues) relacionados as vertentes de exatas, incluindo Matemática, Física e 
            Química. Além disso, a ideia principal também envolve o incremento de ferramentas para facilitar o 
            aprendizado e/ou resolução de exercícios quaisquer.</p>

            <h1>Qual a motivação para a criação deste site?</h1>
            <p>A principal motivação está centrada na atual maneira de entrega de conteúdo no que tange a área de 
            exatas. Normalmente, esses são disponibilizados de forma não organizada e centralizada. Sendo assim, o 
            objetivo aqui é fornecer um ambiente onde o aluno possa encontrar tais conteúdos com as características 
            citadas acima, ou seja, um ambiente organizado e centralizado para a distribuição de materiais de 
            estudos.</p>

            <h1>Quais tipos de materiais você encontrará aqui?</h1>
            <p>Em primeira instância, este website abrigará conteúdos disponibilizados pelos professores de cada área 
            (Matemática, Física e Química), então espere encontrar revisões, atividades, resumos, materiais de 
            apoio, etc. Esses estarão em diferentes formatos, como: PDF, apresentações (slides), documentos (docs) 
            e planilhas.</p>
                
            <p>Ademais, como citado anteriormente, este website também integrará ferramentas de propósito geral para 
            auxiliar o aluno no momento de estudo. Apesar disso, trazendo uma abordagem sob uma óptica mais ampla, uma 
            das metas futuras seria incrementar um mecanismo de posts e vídeos exclusivos a este site. Por exemplo, um 
            professor decide realizar uma correção de exercício, assim, o mesmo poderia disponibilizá-la aqui neste 
            site em formato de vídeo.</p>
        </section>

        <div id="division-line"></div>

        <section id="ete-slider-box">
            <h1>Banco de Imagens - ETEPIMR</h1>
            <div id="color-output-line"></div>

            <div id="slide-group">
                <div class="arrow" id="arrow-left"><i class="ri-arrow-left-double-line"></i></div>
                <div id="ete-slider">
                    <div id="inner-shadow"></div>
                </div>
                <div class="arrow" id="arrow-right"><i class="ri-arrow-right-double-line"></i></div>
            </div>
            
            <p id="index-output"></p>
            <p id="share-pictures-with-us">
                <i class="ri-error-warning-line"></i>
                Se você deseja contribuir para este banco de imagens, envie a sua amostra por meio dos nossos 
                <a href="/contatos">contatos</a>.
            </p>
        </section>
    </main>

    <footer class="footer">
        <p>Matematicando, ETEPIMR - 2023</p>
    </footer>

    <script>
        function redirectTo(url) {
            window.location.href = url
        }
    </script>
</body>
</html>
