<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematicando - Início</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/png" 
    sizes="16x16">
    
    <script src="{{ url_for('static', filename='js/home/main-slider.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/home/smooth-scroll.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/home/etepimr-slider.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/home/responsive-header.js') }}" defer></script>
</head>
<body>
    <header class="header">
        <div id="header-left">
            <a href="{{ url_for('Homepage.home') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Matematicando Logo">
            </a>
            <h1 id="desktop">Matematicando</h1>
        </div>

        <h1 id="mobile">Matematicando</h1>
        
        <ul id="navlist">
            <li class="active">
                <i class="ri-home-4-line" onclick="redirectTo('/')"></i>
                <a href="{{ url_for('Homepage.home') }}">Home</a>
            </li>
            <hr>
            <li>
                <i class="ri-book-2-line" onclick="redirectTo('/materiais')"></i>
                <a href="{{ url_for('Materials.materials') }}">Materiais</a>
            </li>
            <hr id="center">
            <li>
                <i class="ri-tools-fill" onclick="redirectTo('/ferramentas')"></i>
                <a href="{{ url_for('Tools.tools') }}">Ferramentas</a>
            </li>
            <hr>
            <li>
                <i class="ri-mail-line" onclick="redirectTo('/contatos')"></i>
                <a href="{{ url_for('Contacts.contacts') }}">Contatos</a>
            </li>
        </ul>

        <div id="divmenu">
            <i id="menu" class="ri-menu-line"></i>
        </div>
    </header>

    <main class="main">
        <section id="main-background">
            <section id="main-apresentation">
                <div id="heading">
                    <h1>Matematicando</h1>
                    <div>
                        <h1>ETEPIMR</h1>
                        <div id="lines">
                            <div id="line1"></div>
                            <div id="line2"></div>
                            <div id="line3"></div>
                        </div>
                    </div>
                </div>

                <div id="heading-mobile">
                    <h1>Matematicando</h1>
                    <div id="l2">
                        <div class="line-box">
                            <div class="line" id="line1"></div>
                        </div>
                        <h1>ETEPIMR</h1>
                        <div class="line-box">
                            <div class="line" id="line2"></div>
                        </div>
                    </div>
                    <div id="extern-line"></div>
                </div>

                <div id="phrase-box">
                    <p id="phrase">“O conhecimento é como um jardim. se não for cultivado, não 
                        poderá ser colhido.”
                    </p>
                    <p id="author">̶ African Proverbs</p>
                </div>

                <div id="explore-box">
                    <div id="explore-button">
                        <p>Explorar</p>
                        <i class="ri-arrow-right-line"></i>
                    </div>
                </div>
            </section>
        </section>

        <section id="main-slider">
            <div id="image-output">
                <ul id="slide-wrap">
                </ul>
            </div>
            
            <div id="indices">
                {% for _ in range(number_of_indices) %}
                    <div class="index"></div>
                {% endfor %}
            </div>
        </section>

        <section id="project-info">
            <h1>O que é este site?</h1>
            <p>Este website busca integrar e facilitar a distribuição de diversos conteúdos dentro da ETEPIMR (ETE Pastor
            Isaac Martins Rodrigues), relacionados às vertentes de exatas, incluindo Matemática, Física e Química. Além 
            disso, a ideia principal também envolve o desenvolvimento de ferramentas para facilitar o aprendizado e a 
            resolução de exercícios de qualquer natureza.</p>

            <h1>Qual a motivação para a criação deste site?</h1>
            <p>A principal motivação está centrada na forma atual de entrega de conteúdo na área de exatas. Normalmente, 
            esses conteúdos são disponibilizados de forma desorganizada e descentralizada. Portanto, o objetivo aqui é 
            fornecer um ambiente onde os alunos possam encontrar tais conteúdos com as características mencionadas 
            anteriormente, ou seja, um ambiente organizado e centralizado para a distribuição de materiais de estudo.</p>

            <h1>Quais tipos de materiais você encontrará aqui?</h1>
            <p>Em primeira instância, este website abrigará conteúdos disponibilizados pelos professores de cada área 
            (Matemática, Física e Química). Portanto, espera-se encontrar revisões, atividades, resumos, materiais de 
            apoio, entre outros. Esses conteúdos estarão em diferentes formatos, como PDF, apresentações de slides, 
            documentos e planilhas.</p>
                
            <p>Além disso, como mencionado anteriormente, este website também integrará ferramentas de propósito geral para 
            auxiliar os alunos durante seus estudos. No entanto, com uma abordagem mais ampla, uma das metas futuras seria 
            incrementar um mecanismo de publicação de posts e vídeos exclusivos neste site. Por exemplo, um professor 
            poderia decidir realizar uma correção de exercício e disponibilizá-la em formato de vídeo aqui no site.</p>
        </section>

        <div id="division-line"></div>

        <section id="ete-slider-box">
            <h1>Banco de Imagens - ETEPIMR</h1>

            <div id="slide-group">
                <div class="arrow desktop-arrow" id="arrow-left">
                    <i class="ri-arrow-left-double-line"></i>
                </div>

                <div id="ete-slider">
                    <div class="arrow mobile-arrow" id="arrow-left">
                        <i class="ri-arrow-left-double-line"></i>
                    </div>
                    <div id="inner-shadow"></div>
                    <div class="arrow mobile-arrow" id="arrow-right">
                        <i class="ri-arrow-right-double-line"></i>
                    </div>
                </div>

                <div class="arrow desktop-arrow" id="arrow-right">
                    <i class="ri-arrow-right-double-line"></i>
                </div>
            </div>
            
            <p id="index-output"></p>

            <div id="share-with-us">
                <i class="ri-error-warning-line"></i>
                <p>Se você deseja contribuir para este banco de imagens, envie sua amostra através dos nossos <a href="/contatos">contatos</a>.</p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>Matematicando, ETEPIMR - 2023</p>
    </footer>

    <script>
        function redirectTo(url) {
            window.location.href = url
        }
    </script>
</body>
</html>
