<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematicando - Ferramentas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tools.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div id="header-left">
            <a href="{{ url_for('Homepage.home') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Matematicando Logo">
            </a>
            <div id="line"></div>
            <h1>Matematicando</h1>
        </div>

        <nav>
            <ul id="navlist">
                <li>
                    <i class="ri-home-4-line" onclick="redirectTo('/')"></i>
                    <a href="{{ url_for('Homepage.home') }}">Home</a>
                </li>
                <li>
                    <i class="ri-book-2-line" onclick="redirectTo('/materiais')"></i>
                    <a href="{{ url_for('Materials.materials') }}">Materiais</a>
                </li>
                <li class="active">
                    <i class="ri-tools-fill" onclick="redirectTo('/ferramentas')"></i>
                    <a href="{{ url_for('Tools.tools') }}">Ferramentas</a>
                </li>
                <li>
                    <i class="ri-mail-line" onclick="redirectTo('/contatos')"></i>
                    <a href="{{ url_for('Contacts.contacts') }}">Contatos</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1>Em breve...</h1>
    </main>

    <footer class="footer">
        <p>Matematicando, ETEPIMR - 2023</p>
    </footer>

    <script>
        function redirectTo(url) {
            window.location.href = url
        }
    </script>
</body>
</html>